@import "tailwindcss";

body {
  background: #0a0a0a;
}

@layer utilities {

  /* If I want to add more fonts then I just add them like this (below): */
  
  /* .font-urbanist {
    font-family: var(--font-urbanist), serif;
  } */

  @keyframes gradient-x {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

  @keyframes floatX {
    0%, 100% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(-40px);
    }
  }

  @keyframes floatY {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-40px);
    }
  }

  .animate-gradient-x {
    animation: gradient-x 2s ease-in-out infinite;
  }

  .animate-floatX {
    animation: floatX 10s ease-in-out infinite;
  }

  .animate-floatY {
    animation: floatY 10s ease-in-out infinite;
  }
}