@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer utilities {

  /* If we want to add more fonts then we just add them like this (below): */
  
  /* .font-urbanist {
    font-family: var(--font-urbanist), serif;
  } */

  @keyframes gradient-x {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

  @keyframes floatX {
    0%, 100% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(-20px);
    }
  }

  @keyframes floatY {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  .animate-gradient-x {
    animation: gradient-x 2s ease-in-out infinite;
  }

  .animate-floatX {
    animation: floatX 10s ease-in-out infinite;
  }

  .animate-floatY {
    animation: floatY 10s ease-in-out infinite;
  }
}